@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilo de texto brillante con contorno y estela blanca */
.gossip-title, .text-outlined {
  position: relative;
  color: white; /* Texto blanco */
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.4),  /* Brillo más suave */
    0 0 5px rgba(255, 255, 255, 0.4),
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 25px rgba(255, 255, 255, 0.6);

  /* Contorno blanco más sutil */
  -webkit-text-stroke: 0.8px white;
}

.gossip-title::before, .text-outlined::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05),  /* Estela más ligera */
    rgba(255, 255, 255, 0)
  );
  transform: translate(-50%, -50%);
  filter: blur(5px);  /* Blur reducido */
  z-index: -1;
}


.nav-bright a {
  text-shadow:
    0 0 2px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.6);
}

.nav-bright a:hover {
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 25px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.7),
    0 0 40px rgba(255, 255, 255, 0.8),
    0 0 50px rgba(255, 255, 255, 0.8);
}

@media (min-width: 1024px) {
  #party {
    margin-top: 4rem; /* Aumenta el espacio entre la parte de "Attendance" y el slider */
  }
}