@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-slide img {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.gossip-title, .text-outlined {
  position: relative;
  color: white;
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.2), /* Brillo más suave */
    0 0 5px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.4),
    0 0 25px rgba(255, 255, 255, 0.4);

  -webkit-text-stroke: 0.5px white; /* Contorno blanco más suave */
}

.nav-bright a {
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.2),
    0 0 5px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.4);
}

.nav-bright a:hover {
  text-shadow:
    0 0 2px rgba(255, 255, 255, 0.4),
    0 0 10px rgba(255, 255, 255, 0.4),
    0 0 15px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
  #party {
    margin-top: 4rem;
  }
}

.slick-slide img {
  outline: none !important; /* Elimina cualquier outline */
  border: none !important;  /* Elimina cualquier borde */
  box-shadow: none !important; /* Elimina sombras si las hay */
  user-select: none !important;  /* Evita que el usuario seleccione accidentalmente las imágenes */
}

.slick-slide {
  outline: none !important;  /* Elimina el focus outline del contenedor de las imágenes */
}